/* Estilos padrão */
* {
  font-family: "Montserrat", sans-serif;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: #252525;
  color: #fff;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #c09578;
}

.light-bg-color {
  background-color: #fcf5eb;
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #c09578;
}

.secondary-color {
  color: #626262;
}

.light-color {
  color: #fcf5eb;
}

.primary-bg-color-opacity {
  background-color: #252525bd;
}

/* Navbar */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: end;
}

#navbar .navbar-nav li {
  margin-left: 1rem;
}

#navbar a,
#navbar button {
  color: #fff;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ef3636;
  text-align: center;
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#navbar-items {
  justify-content: space-between;
  width: 100%;
}

#search-form {
  width: 100%;
  margin: 2rem 0;
  border: 2px solid #626262;
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
  flex: auto;
}

#search-form input,
#news-form input {
  background-color: transparent;
  border: none;
  color: #fff;
}

#search-form input:focus,
#news-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
  color: #fff;
}

.navbar-toggler:focus{
  box-shadow: none;
  border: 1px solid #101010;
}

/* Navbar Bottom */
#bottom-navbar-container .container {
  justify-content: flex-end;
}

#bottom-navbar-container a {
  font-weight: 600;
  color: #fff;
}

.navbar-toggler {
  font-size: 1.5rem;
}

/* Carousel */
#banners-container {
  padding: 0;
}

.carousel-caption {
  bottom: 5rem;
  padding: 1rem;
  left: 12%;
  right: 12%;
}

.carousel-caption h5 {
  font-size: 1.8rem;
}

.carousel-caption p {
  margin-bottom: 0;
}

/* Mini banners */
#mini-banners {
  margin-top: -3rem;
  z-index: 10;
}

#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1rem;
}

#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;
  transition: 0.5s;
}

#mini-banners #mini-banner-3 a {
  color: #101010;
}

#mini-banners .col-12 a:hover {
  color: #101010;
}

#mini-banners #mini-banner-1 a:hover,
#mini-banners #mini-banner-3 a:hover {
  color: #c09578;
}

/* Best Sellers */
#best-sellers {
  padding: 4rem 0;
}

#best-sellers .row {
  margin: 0;
}

#best-sellers .col-md-3 {
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#best-sellers .card {
  text-align: center;
  border-radius: 0;
  transition: 0.3s;
}

#best-sellers .card:hover {
  box-shadow: rgba(82, 82, 82, 0.2) 0px 8px 20px 0px;
}

#best-sellers .card img {
  width: 140px;
  height: 230px;
  margin: 2rem auto;
  transition: 0.3s;
}

#best-sellers .card:hover img {
  transform: scale(1.05);
}

#best-sellers .card .card-category {
  font-size: 0.8rem;
}

#best-sellers .card-text {
  margin: 2rem 0;
  font-weight: bold;
}

.btn {
  background-color: transparent;
  border-color: #c09578;
}

.btn:hover {
  background-color: #c09578;
  border-color: #c09578;
}

/* Bottom banner */
#bottom-banner {
  padding: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

#bottom-banner .offer-subtitle,
#bottom-banner .h2 {
  text-transform: uppercase;
  font-weight: bol;
}

#bottom-banner .btn {
  margin: 2rem;
  font-weight: bold;
  padding: 1rem;
}

#bottom-banner img {
  max-width: 175px;
}

.gradient {
  height: 800px;
  width: 100vw;
  background: linear-gradient(45deg, #000, #101010, #252525, #626262);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

/* New Products */
#new-products {
  margin-bottom: 5rem;
}

#new-products-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-products-banner h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

#new-products .col-md-4 {
  padding: 0;
}

#new-products .card img {
  height: 150px;
  width: 90px;
  margin: 1.5rem auto;
}

/* Gallery */
#gallery .image-container {
  background-size: cover;
  background-position: center;
  height: 225px;
  cursor: pointer;
  transition: 0.5s;
  border: 3px solid #101010;
  box-sizing: border-box;
}

#gallery .image-container:hover {
  border: 3px solid #c09578;
}

#insta1 {
  background-image: url("../img/insta1.jpg");
}

#insta2 {
  background-image: url("../img/insta2.jpg");
}

#insta3 {
  background-image: url("../img/insta3.jpg");
}

#insta4 {
  background-image: url("../img/insta4.jpg");
}

#insta5 {
  background-image: url("../img/insta5.jpg");
}

#insta6 {
  background-image: url("../img/insta6.jpg");
}

/* footer */
#footer-links-container {
  border-bottom: 1px solid #626262;
}

#footer .footer-column {
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}

#footer-links-container li {
  font-size: 0.8rem;
  text-align: center;
}

#footer-links-container a {
  text-decoration: none;
}

#footer-links-container a:hover {
  color: #c09578;
}

#footer-center {
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
}

#footer-center h3 {
  font-weight: 900;
}

#footer-center .store-phone {
  color: #c09578;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: -15px;
}

/* newsletter */
#newsletter-container {
  border-bottom: 1px solid #626262;
  text-align: center;
  padding: 20px;
}

#news-form {
  max-width: 600px;
  margin: 15px auto;
  border: 2px solid #626262;
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
  flex: auto;
}

#news-form i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

#news-form .btn {
  color: #fff;
}

#social-container {
  margin: 20px auto;
}

#social-container i {
  font-size: 1.5rem;
  margin: 10px;
  cursor: pointer;
  color: #626262;
  transition: 0.3s;
}

#social-container i:hover {
  color: #c09578;
}

#copy-container {
  text-align: center;
  padding: 30px;
}

#copy-container p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .gradient {
    height: 500px;
  }

  #footer-center .store-phone {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 991px) {
  .navbar-brand {
    text-align: left;
    margin-bottom: 0;
  }

  #navbar-items {
    min-width: 80%;
    display: flex;
  }

  #search-form {
    width: 50%;
    margin: 0;
    flex: unset;
  }

  #slider .carousel-item,
  #slider img {
    height: 700px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
  }

  .carousel-caption h5 {
    font-size: 4rem;
  }

  #mini-banners .col-12 {
    max-width: 30%;
  }

  .title {
    text-align: left;
  }

  #bottom-banner {
    padding: 6rem;
    width: 100%;
  }

  #bottom-banner h2 {
    font-size: 6rem;
  }

  #bottom-banner .btn {
    margin: 2rem 2rem 0;
  }

  .gradient {
    height: 600px;
  }

  #footer .footer-column {
    padding: 5rem 2rem;
  }

  #footer-center .store-phone {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1920px) {
  #slider .carousel-item,
  #slider img {
    height: 70vh;
  }
}

@media screen and (max-width: 425px) {
  .carousel-caption {
    bottom: 2rem;
  }

  .carousel-caption h5 {
    font-size: 1.4rem;
  }

  .carousel-caption p {
    font-size: 0.8rem;
  }

  #mini-banners {
    margin-top: 0;
  }

  #news-form i {
    display: none;
  }
}
